WXXM/WebRoot/WEB-INF/wsdl/WXXMMashallerServiceService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://MashallerService.wxxm.com/" targetNamespace="http://MashallerService.wxxm.com/" version="1.0">

  <xs:element name="mashaller" type="tns:mashaller"/>

  <xs:element name="mashallerResponse" type="tns:mashallerResponse"/>

  <xs:complexType name="mashaller">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="mashallerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
